.main {
  grid-area: main;
}

.main__sharebox {
  text-align: center;
  overflow: hidden;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
  flex-direction: column;
  color: var(--color-text-neutral-variant);
  margin: 0 0 8px;
}

.main__sharebox__div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 10px 5px;
}

.main__sharebox__div1 > button {
  outline: none;
  max-width: 520px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1.5;
  min-height: 48px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  flex-grow: 1;
  border-radius: 35px;
  padding-left: 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  text-align: left;
}

.main__sharebox__div1 > img {
  margin: 0 4px 0 -2px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.main__sharebox__div2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  padding-top: 4px;
  gap: 1rem;
}

.main__sharebox__div2 > button {
  background-color: transparent;
  height: 48px;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  gap: 0.2rem;
}

.sharebox__icon {
  margin: 0 4px 0 -2px;
  font-size: 24px;
}

.main__articlediv1 {
  text-align: center;
  padding: 0;
  margin: 0 0 8px 0;
  overflow: visible;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  border: none;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
}

.articlediv1__sharedactor {
  padding-right: 40px;
  flex-wrap: nowrap;
  padding: 12px 16px 0;
  margin-bottom: 8px;
  align-items: center;
  display: flex;
}

.articlediv1__sharedactor > a {
  margin-right: 12px;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  text-decoration: none;

  img {
    width: 48px;
    height: 48px;
  }
}

.articlediv1__sharedactor > a > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 8px;
  overflow: hidden;

  span {
    text-align: left;
    &:first-child {
      font-size: 14px;
      font-weight: 700;
      color: rgba(0, 0, 0, 1);
    }

    &:nth-child(n + 1) {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.articlediv1__sharedactor > button {
  position: absolute;
  right: 12px;
  top: 0;
  background: transparent;
  border: none;
  outline: none;

  img {
    width: 20px;
    height: 20px;
    padding-bottom: 20px;
  }
}

.articlediv1__description {
  padding: 0 16px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  text-align: left;
}

.articlediv1__sharedimg {
  margin-top: 8px;
  width: 100%;
  display: block;
  position: relative;
  background-color: #f9fafb;

  img {
    object-fit: contain;
    width: auto;
    height: 400px;
  }
}

.articlediv1__socialcounts {
  line-height: 100%;
  display: flex;
  align-items: flex-start;
  overflow: auto;
  list-style: none;
  margin: 0 16px;
  padding: 8px 0;
  border-bottom: 1px solid #e9e5df;
}

.articlediv1__socialcounts > li {
  margin-right: 5px;
  font-size: 12px;

  button {
    display: flex;
    border: none;
    background: #fff;

    img {
      width: 18px;
    }
  }
}

.articlediv1__socialactions {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 40px;
  padding: 4px 8px;
}

.articlediv1__socialactions > button {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  color: #0a66c2;
  border: none;
  background-color: #fff;
}

/* ********* MEDIA QUERIES ********* */

@media (min-width: 768px) {
  .articlediv1__socialactions > button > span {
    margin-left: 8px;
  }
}
