.footer {
  background-color: var(--color-text-light);
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.footer__link {
  color: black;
}

/* ********* MEDIA QUERIES ********* */

@media (min-width: 1024px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

@media (min-width: 1280px) {
  .footer {
    gap: 1.5rem;
  }
}
